<p><br><br>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>f name:</strong>
  <%= @student.f_name %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
