<p id="notice"><%= notice %></p>
<h1>Sharks</h1>
<div id="form-edit">
  <%= render 'form', shark: @shark %>
</div>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Fact</th>
        <th>show</th>
        <th>edit</th>
        <th>destroy</th>
      </tr>
    </thead>
  <tbody id="tbl_id">
    <%# binding.pry %>
    <% @sharks.each do |shark| %>
      <%= render 'tables', shark: shark %>
     
    <% end %>
  </tbody>
</table>
<%= link_to 'New Shark', new_shark_path %>
